:root {
    --accent-color: #660023;
    --accent-color-alt: #dfc615;
    --item-padding: 12px;
    --item-radius: 20px;
    --main-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    --main-shadow-hover: 0px 5px 20px 5px rgba(0, 0, 0, 0.2);
    --header-color: #212329;
}

* {
    /* Remove ugly list item bullets */
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    /*
     * Make sure that the footer is always at the bottom of the page,
     * even if the page is shorter than the monitor height.
     */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*
 * Header
 */

header {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: block;
    /* 
     * Always position the header on top of the page.
     * Also offsets the content below by the height automatically.
     */
    position: sticky;
    background-color: var(--header-color);
    margin: 0;
    padding: 0;
    box-shadow: var(--main-shadow);
    z-index: 1000;
}

nav {
    display: inline-block;
    list-style-type: none;
}

nav>ul {
    padding: 0;
    margin: 0;
    display: block;
    height: auto;
}

header>.logo {
    height: 64px;
}

li {
    display: inline-block;
    position: relative;
}

li a, li span {
    transition: background-color 200ms ease-out;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, nav li span:hover {
    background-color: var(--accent-color);
}

/*
 * Drop Down menu
 */

/* The actual Drop down menu */
.dropdown {
    display: none;
    position: absolute;
    background-color: var(--header-color);
    box-shadow: var(--main-shadow);
    border-radius: 0 0 var(--item-radius) var(--item-radius);
    width: 100%;
    overflow: hidden;
}

nav .dropdown-button {
    cursor: pointer;
}

/* Show the dropdown div sibling when the downdown-button is hovered */
nav .dropdown-button:hover ~ div, .dropdown:hover {
    display: block;
}

/*
 * Main
 */

main {
    width: 80%;
    margin: 50px auto;
}

h1 {
    margin-bottom: 10px;
    text-align: center;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    width: 100px;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: var(--main-shadow);
}

.map_button,
.buy_button {
    transition: box-shadow 250ms ease;
    box-shadow: var(--main-shadow);
    background-color: rgb(244, 244, 244);
    text-decoration: none;
    color: black;
    text-align: center;
    display: block;
    max-width: max-content;
    margin: var(--item-padding) auto 0 auto;
    padding: 4px 16px;
    border-radius: 12px;
}

.map_button:hover,
.buy_button:hover {
    box-shadow: var(--main-shadow-hover);
}

/*
 * Footer
 */

.footer-container {
    background-color: #212329;
    padding: 2rem 0 4rem 0;
}

/* Sets the size and color of the bakgrund for the footer*/
.footer {
    width: 80%;
    height: auto;
    background-color: #212329;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: var(--accent-color-alt);
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 2rem;
}

/* Makes the size of the email input bar and makes it pretty */
#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1;
}

/* Makes the footer button pretty */
#footer-email-button {
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: var(--accent-color);
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
}

#footer-email-button:hover {
    cursor: pointer;
    background-color: var(--accent-color-alt);
    color: black;
    transition: all 0.4s ease-out;
}

/* Adjust the size of the footer to the screen */
@media screen and (max-width: 1150px) {
    .footer {
        height: 50vh;
    }

    .footer-email-form {
        margin-top: 4rem;
    }
}

/* Adjust the size of the footer to the screen */
@media screen and (max-width: 820px) {
    .footer {
        padding-top: 2rem;
    }
}

/* Adjust the size of the footer for a mobilscreen and hides the social media links */
@media screen and (max-width: 720px) {
    .footer-3 {
        display: none;
    }

    .footer-email-form {
        margin-top: 2rem;
    }
}
