/* TODO: Use scss next time... */
/*
 * Products
 */

/* The list of all products */
.items {
    --gap-size: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;
    justify-content: space-evenly;
}

/* Each product */
.items > .item {
    border: solid 1px #888888;
    flex-basis: calc(33% - var(--gap-size));
    max-width: 500px;
    box-sizing: border-box;
    border-radius: var(--item-radius);
    padding: var(--item-padding);
    background-color: rgb(244, 244, 244);
    transition: flex-basis 250ms ease, border 250ms ease, box-shadow 250ms ease;
    box-shadow: var(--main-shadow);
}

.items > .item:hover {
    border: solid 1px var(--accent-color);
    box-shadow: var(--main-shadow-hover);
}

/* Reduce the amount of products per row to 2 when the width is below 721px */
@media screen and (max-width: 720px) {
    .items > .item {
        flex-basis: calc(50% - 30px);
    }
}

/* Reduce the amount of products per row to 1 when the width is below 521px */
@media screen and (max-width: 520px) {
    .items > .item {
        flex-basis: 100%;
    }
}

.buy_img {
    margin-top: 0;
}

/* Limit the image max size to the item div size */
.items > .item > .buy_img > img {
    max-width: 100%;
    max-height: 100%;
    /* Make the inner radii matches the outer one */
    border-radius: calc(var(--item-radius) - var(--item-padding));
}

.item-desc {
    display: block;
    margin-top: var(--item-padding);
}

.item-price {
    display: block;
    margin-top: var(--item-padding);
}
